body{
    margin:0;
    font-family:Arial, sans-serif;
    background-color:antiquewhite
}
.container{
    max-width:800px;
    margin:120px auto;
    padding:20px;
    background-color:#f2abc3;
    color:bisque;
    border-radius:20px;
    box-shadow:0 0 15px rgb(118 99 106);
}
header{
    margin:80px auto;
    text-align:center;
}
h1{
    font-size:30px;
   
}
main{
    max-width:800px;
   
}
section{
    margin:80px;
    padding:40px;
    background-color:#f39ab9;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.2)
}
h2{
    font-size:24px;
    margin-bottom:20px;
    border-left:4px solid #e8b2b2;
    padding-left:10px;
}
p{
    margin-bottom:20px;
    padding-left:15px;
    line-height:1.4;
}
.blockquote{
    margin:0;
    padding-left:15px;
    line-height:1.3;
    color:#b65d5d
}
.cards{
    display:flex;
    gap:20px;
}
.card{
    flex:1;
}

.footer{
    text-align:center;
    padding-bottom:50px;
    transition:0.3s ease;
}
.footer:hover{
    color:#dc3491;
}